flask 
langchain
openai
pypdf 
tiktoken 
python-dotenv 
bs4
langchain_openai
langchain-community
uvicorn
pinecone-client 
flask 
langchain-core
langchain-experimental 
langchain-chroma 
motor 
python-multipart 
pymongo 
pydantic 
flask_jwt_extended